.header-nav{
margin-left: 3%;
    width: 90%;
    height: 48px;
    margin-top: 48px;
    margin-bottom: -8px;
    padding: 8px 28px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #e5e5e5;
    border-radius: 24px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    ul{
        margin-right: 10%;
        li{
            padding: 2px;
        }
        
    }
}

.toys{
    margin-top: 100px;
    .toysul{
       
        li{
            a{
                height: 32px;
                padding: 6px 18px;
              
                border-radius: 16px;
                color: #111;
                font-size: 15px;
                line-height: 20px;
                &:hover{
                  text-decoration: underline;
                }
                
            }
           
          
        }
    
}
}
.toyshead{

    h2{
        font-family: 'Varela Round', sans-serif;
        font-size: 28px;
        line-height: 36px;
        font-weight: 400;
    }
    
}
.catalogline{
    width: 100%
}
@media screen and (max-width:376px){
    .catalogline{
        display: none;
    }
    .toyshead{
        h2{
            display: none;
        }
       
    }
    .toy{
        margin-top: -239px;
        ul{
            display: flex;
            flex-direction: row;
        }

    }
 }
