.contact{
    width: 1170px;
    height: 1211px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid none;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
    margin-left: 10%;
    background-color: white;
    border-radius: 16px;
    align-items: center;



}
