.insintro{
    .title{
        margin-bottom: 16px;
        color: #a5c926;
        font-size: 13px;
        line-height: 16px;
        font-weight: 600;
        @media screen and (max-width:376px){
            margin-left:-57px
        }
            
        
    }
    h2{
        margin-top: 0px;
        font-family: 'Varela Round', sans-serif;
        font-size: 32px;
        line-height: 40px;
        font-weight: 400;
        @media screen and (max-width:376px){
            margin-left:-57px
        }
    }
}
.insta{
    @media screen and(max-width:376px) {
        width: 62%;
        margin-left: 46px;
    }
}


.instimage{
    img{
        margin-top: 50px;
        width: 160px;
        height: 160px;
        border-radius: 12px;
        &:hover{
            transform: scale(1.05);
        }
        @media screen and (max-width:376px) {
            width: 80px;
            height: 80px;
        }
    }
}

   #btn{
       margin-top: 50px;
        height: 44px;
         padding: 12px 28px;
         justify-content: center;
    border-radius: 24px;
    background-color: #a5c926;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    @media screen and (max-width:376px) {
        padding: 9px 28px;
        margin-left:-50px;
    }
    }
    .instagram{
        margin-top: 10%;
    }
