body{
    a{
        text-decoration: none;
      
    }
    ul{
        list-style: none;
       display: flex;
       justify-content: center;
    
     }
      background-color: #f8f8f8;;
    
}


.logo{
    font-family: 'Varela Round', sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
   
   
    a{
     
        color: #333333;
    }
    
}

.section{
    a{
        color: #111;
        font-family: 'Open Sans', sans-serif;
        &:hover{
            text-decoration: underline;
            
        }
    }
}
.basket{
   .commerce{
       width: 20px;
       background-color: #a5c926;
       border-radius: 50%;
       display: flex;
       align-items:center;
       justify-content: center;
       margin-left: -30px;
       margin-top: -11px;
       span{
           color:white;
       }
      
   }
}
.dropdown{
 display: none;
}

#login{
    color: black;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.navigation {
    margin-left: 7%;
    width: 87%;
    height: 48px;
    margin-top: 48px;
    margin-bottom: -8px;
    padding: 9px 28px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #e5e5e5;
    border-radius: 24px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
}

@media  screen and (max-width:376px){
    .section{
        display: none;
    }
    .dropdown{
        display: inline;
       }
      .login{
          display: none;
      }
     .logo{
         h2{
            margin-top: 9px;
         }
     }
     .basket{
         #sebet{
            margin-top: 5px;
            margin-left: -44px;
         }
         .commerce{
            width: 20px;
            background-color: #a5c926;
            border-radius: 50%;
            display: flex;
            align-items:center;
            justify-content: center;
            margin-left: -53px;
            margin-top: 7px;
            span{
                color:white;
            }
           
        }
        .check{
            margin-left: -7px;
        }
     }
     .nav{
         position: sticky !important;
         background-color: white;
         width: 100% !important;
     }
     .list{
         li{
             a{
                 color: black;
                 font-family: sans-serif;
             }
         }
     }
}