

.shopping {
  background:#22252C 
}

.shop {
  width: 20%;
  height: 200px;
  margin-right: 10px;
  background: white;
  border-radius: 5px;
  counter-increment: carousel-cell;
 
  img{
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    

    
   
  }
}
.shoph2{
  display: flex;
  margin-left: 0%;
  margin-top: 10%;
}
.shp{
  display: flex;
  margin-left: 50%;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  width: 200px;
  height: 56px;
    border-radius: 8px;
    background-color: transparent;
    color: #C9FFC7;
    border-color: rgba(255,255,255,0.2);
    &:hover{
      border-color: #C9FFC7;
    background-color: rgba(255,255,255,0.2);
    color: #C9FFC7;
    }
}



/* cell number */

