.wrap{
   
    height: 190px;
    padding: 120px ;
    justify-content: center;
   .wrap1{
        border: 1px solid;
        padding: 2%;
        width: 40%;
        height: 152px;
       border-radius: 16px;
       background-color: #ffc12c;
         color: #fff;
      position: relative;
      right: 2%;
      @media screen and (max-width:376px) {
        padding: 100%;
      }
      h1{
        margin-top: 0px;
        margin-bottom: 16px;
        font-family: 'Varela Round', sans-serif;
        font-size: 28px;
        line-height: 36px;
        font-weight: 400;
        @media screen and(max-width:376px) {
          margin-left: -43px;
        }
      }
       a{
        height: 40px;
        padding: 8px 24px;
        border-radius: 20px;
        font-size: 13px;
        line-height: 24px;
        background-color: #fff;
        color: #111;

       }
       
       
    .wrap1info{
     position: absolute;
    
     top: 30%;
     right: 20%;
     @media screen and(max-width:376px) {
      top: 52%;
      right: 11%;
     }
        
    }
    img{
        position: absolute;
        left: -16px;
        bottom: 26px;
        width: 220px;
        @media screen and(max-width:376px) {
          left: 20px;
          bottom: 131px;
        }
    }
   }
   .wrap2{
       background-color: pink;
       border: 1px solid;
       padding: 2%;
       width: 40%;
       height: 152px;
       border-radius: 16px;
       background-color: #fb416b;
       color: #fff;
       position: relative;
       @media screen and (max-width:376px) {
        padding: 100%;
        margin-top: 67px;
      }
       h1{
        margin-top: 0px;
        margin-bottom: 16px;
        font-family: 'Varela Round', sans-serif;
        font-size: 28px;
        line-height: 36px;
        font-weight: 400;
        @media screen and (max-width:376px) {
          margin-top:38px;
          margin-left: 4px;
        }
       }
       a{
        height: 40px;
        padding: 8px 24px;
        border-radius: 20px;
        font-size: 13px;
        line-height: 24px;
        background-color: #fff;
        color: #111;
        @media screen and (max-width:376px) {
          margin-left: 32px;
        }
       }
       
    img{
        position: absolute;
        right: 7px;
        bottom: 17px;
        width: 220px;
        @media screen and (max-width:376px) {
          width: 161px;
          right: 55px;
          top: -50px;
        }
    }
    .wrap2info{
        position: absolute;
     left: 20%;
     top: 30%;
    }
   }
}
.sld{
  display: none;
}
@media  screen and (max-width:376px){
   
    .wrap{
      flex-wrap:wrap;

    }
   .card{
     width: 100% !important;
   }
}