.worktime{
    width: 75%;
}
h2{
    text-align: center;
    color: #c9ffc7;
    font-weight: 700;
 
    margin-bottom: 8px;
    font-size: 40px;
    line-height: 56px;
}
.onepart{
    border: 1px solid  #c9ffc7; 
    width: 250px;
    height: 250px;
    padding: 50px;
    border-radius: 7px;

    &:hover{
        border-color: black;
        .svgpart{
            background-color: black;
        }
        button{
            background-color: #C9FFC7;
            color: black;
        }

    }
    .svgpart{
        border: 1px solid  #C9FFC7;;
        width: 60px;
        height: 60px;
        svg{
           
           margin: 30%;
        }
      
    }
    button{
        width: 200px;
        justify-content: center;
    align-items: center;
    padding: 16px 32px;
    font-weight: 500;
    min-width: 144px;
    height: 56px;
    border-radius: 8px;
    background-color: transparent;
    color: #C9FFC7;
    border-color: rgba(255,255,255,0.2);
    margin-top: 25px;
    }
}
.twopart{
    
    border: 1px solid  #c9ffc7; 
    width: 250px;
    height: 250px;
    padding: 50px;
    border-radius: 7px;
    margin-left: -35px
    &:hover{
        border-color: black;
        .svgpart{
            background-color: black;
        }
        button{
            background-color: #C9FFC7;
            color: black;
        }

    }
    .svgpart{
        border: 1px solid  #C9FFC7;;
        width: 60px;
        height: 60px;
        svg{
           
           margin: 30%;
        }
      
    }
    button{
        width: 200px;
        justify-content: center;
    align-items: center;
    padding: 16px 32px;
    font-weight: 500;
    min-width: 144px;
    height: 56px;
    border-radius: 8px;
    background-color: transparent;
    color: #C9FFC7;
    border-color: rgba(255,255,255,0.2);
    margin-top: 25px;
    }
}
.threepart{

    border: 1px solid  #c9ffc7; 
    width: 250px;
    height: 250px;
    padding: 50px;
    border-radius: 7px;
    &:hover{
        border-color: black;
        .svgpart{
            background-color: black;
        }
        button{
            background-color: #C9FFC7;
            color: black;
        }

    }
    .svgpart{
        border: 1px solid  #C9FFC7;;
        width: 60px;
        height: 60px;
        svg{
           
           margin: 30%;
        }
      
    }
    button{
        width: 200px;
        justify-content: center;
    align-items: center;
    padding: 16px 32px;
    font-weight: 500;
    min-width: 144px;
    height: 56px;
    border-radius: 8px;
    background-color: transparent;
    color: #C9FFC7;
    border-color: rgba(255,255,255,0.2);
    }
}
.container{
    width: 78%;
}
