@import url(./assets/bootstrap-5.1.3-dist/css/bootstrap-grid.css);
@import url(./assets/bootstrap-5.1.3-dist/css/bootstrap-utilities.css);
@import url(./assets/bootstrap-5.1.3-dist/css/bootstrap.css);
@import url(./assets/bootstrap-5.1.3-dist/css/bootstrap.rtl.css);
@import url(./assets/bootstrap-5.1.3-dist/css/bootstrap-reboot.css);
body {
  background-color: #f8f8f8; }
  body a {
    text-decoration: none; }
  body ul {
    list-style: none;
    display: flex;
    justify-content: center; }

.logo {
  font-family: 'Varela Round', sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400; }
  .logo a {
    color: #333333; }
    .logo a h2 {
      margin-top: 5px;
      color: #a5c926; }

.section a {
  color: #111;
  font-family: 'Open Sans', sans-serif; }
  .section a:hover {
    text-decoration: underline; }

.basket .commerce {
  width: 20px;
  background-color: #a5c926;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  margin-top: -11px; }
  .basket .commerce span {
    color: white; }

.dropdown {
  display: none; }

#login {
  color: black;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif; }

.navigation {
  margin-left: 7%;
  margin-top: 30px !important;
  width: 87%;
  height: 48px;
  margin-top: 48px;
  margin-bottom: -8px;
  padding: 9px 28px;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #e5e5e5;
  border-radius: 24px;
  color: #999;
  font-size: 12px;
  line-height: 16px; }

@media screen and (max-width: 376px) {
  .section {
    display: none; }
  .dropdown {
    display: inline; }
  .login {
    display: none; }
  .logo h2 {
    margin-top: 9px; }
  .basket #sebet {
    margin-top: 5px;
    margin-left: -44px; }
  .basket .commerce {
    width: 20px;
    background-color: #a5c926;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -53px;
    margin-top: 7px; }
    .basket .commerce span {
      color: white; }
  .basket .check {
    margin-left: 6px;
    margin-top: 0px; }
  .nav {
    position: sticky !important;
    background-color: white;
    width: 100% !important; }
  .list li a {
    color: black;
    font-family: sans-serif; }
  header {
    width: 100%; } }

.aboutpart2 .info {
  margin-left: 55%; }

.aboutpart2 .about-img {
  margin-left: -50%; }

body {
  margin: 0%;
  padding: 0%; }

.wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  background-position: 50% 94%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://assets.website-files.com/5badda2935e11303a89a461e/5baddd4835e113c6299a48f5_li-tzuni-507346-unsplash.jpg); }
  .wrapper .wrap-info {
    border: 1px solid none;
    width: 570px;
    height: 266px;
    align-items: center;
    border-radius: 16px;
    background-color: #fff;
    color: #111;
    text-align: center;
    padding: 56px 48px;
    position: absolute;
    left: 30%;
    top: 30%;
    right: 30%;
    bottom: 30%; }
    .wrapper .wrap-info .title {
      margin-bottom: 16px;
      font-size: 13px;
      line-height: 16px;
      font-weight: 600; }
      .wrapper .wrap-info .title span {
        color: #a5c926 !important; }
    .wrapper .wrap-info .inf {
      margin-top: 0px;
      margin-bottom: 20px;
      font-family: 'Varela Round', sans-serif;
      font-size: 40px;
      line-height: 48px;
      font-weight: 400; }
    .wrapper .wrap-info a {
      height: 48px;
      padding: 12px 28px;
      justify-content: center;
      border-radius: 24px;
      background-color: #a5c926;
      color: #fff;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      text-align: center; }

@media screen and (max-width: 376px) {
  .wrapper {
    width: 100%; }
    .wrapper .wrap-info {
      width: 80%;
      height: 250px;
      left: 10%; }
      .wrapper .wrap-info .title {
        font-size: 10px; }
      .wrapper .wrap-info .inf {
        font-size: 17px;
        margin-top: 10px; } }

.wrap {
  height: 190px;
  padding: 120px;
  justify-content: center; }
  .wrap .wrap1 {
    border: 1px solid;
    padding: 2%;
    width: 40%;
    height: 152px;
    border-radius: 16px;
    background-color: #ffc12c;
    color: #fff;
    position: relative;
    right: 2%; }
    @media screen and (max-width: 376px) {
      .wrap .wrap1 {
        padding: 100%; } }
    .wrap .wrap1 h1 {
      margin-top: 0px;
      margin-bottom: 16px;
      font-family: 'Varela Round', sans-serif;
      font-size: 28px;
      line-height: 36px;
      font-weight: 400; }
      @media screen and (max-width: 376px) {
        .wrap .wrap1 h1 {
          margin-left: -43px; } }
    .wrap .wrap1 a {
      height: 40px;
      padding: 8px 24px;
      border-radius: 20px;
      font-size: 13px;
      line-height: 24px;
      background-color: #fff;
      color: #111; }
    .wrap .wrap1 .wrap1info {
      position: absolute;
      top: 30%;
      right: 20%; }
      @media screen and (max-width: 376px) {
        .wrap .wrap1 .wrap1info {
          top: 52%;
          right: 11%; } }
    .wrap .wrap1 img {
      position: absolute;
      left: -16px;
      bottom: 26px;
      width: 220px; }
      @media screen and (max-width: 376px) {
        .wrap .wrap1 img {
          left: 20px;
          bottom: 131px; } }
  .wrap .wrap2 {
    background-color: pink;
    border: 1px solid;
    padding: 2%;
    width: 40%;
    height: 152px;
    border-radius: 16px;
    background-color: #fb416b;
    color: #fff;
    position: relative; }
    @media screen and (max-width: 376px) {
      .wrap .wrap2 {
        padding: 100%;
        margin-top: 67px; } }
    .wrap .wrap2 h1 {
      margin-top: 0px;
      margin-bottom: 16px;
      font-family: 'Varela Round', sans-serif;
      font-size: 28px;
      line-height: 36px;
      font-weight: 400; }
      @media screen and (max-width: 376px) {
        .wrap .wrap2 h1 {
          margin-top: 38px;
          margin-left: 4px; } }
    .wrap .wrap2 a {
      height: 40px;
      padding: 8px 24px;
      border-radius: 20px;
      font-size: 13px;
      line-height: 24px;
      background-color: #fff;
      color: #111; }
      @media screen and (max-width: 376px) {
        .wrap .wrap2 a {
          margin-left: 32px; } }
    .wrap .wrap2 img {
      position: absolute;
      right: 7px;
      bottom: 17px;
      width: 220px; }
      @media screen and (max-width: 376px) {
        .wrap .wrap2 img {
          width: 161px;
          right: 55px;
          top: -50px; } }
    .wrap .wrap2 .wrap2info {
      position: absolute;
      left: 20%;
      top: 30%; }

.sld {
  display: none; }

@media screen and (max-width: 376px) {
  .wrap {
    flex-wrap: wrap; }
  .card {
    width: 100% !important; } }

.category a {
  color: #111;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 2px solid #ddd; }

@media screen and (max-width: 376px) {
  .category-head {
    margin-top: 176.5%; } }

.category-head h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 9.5%; }
  @media screen and (max-width: 376px) {
    .category-head h1 {
      margin-bottom: 2.5%; } }

.category-head-a a {
  color: #111;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 2px solid #ddd; }

.categoryshop {
  width: 100%;
  height: 2px;
  margin-top: 0px;
  background-color: #e5e5e5; }
  .categoryshop .shopcolor {
    width: 136px;
    height: 100%;
    background-color: #a5c926; }

.card {
  margin-top: 50px;
  flex: 1;
  border-radius: 16px;
  background-color: #fff;
  width: 100%;
  align-items: center; }
  .card:hover {
    transform: scale(1.05); }
  .card h5 {
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #111; }
  .card span {
    height: 24px;
    padding: 6px 12px;
    border-radius: 10px;
    width: 200px;
    background-color: #a5c926;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400; }
  .card img {
    width: 200px;
    vertical-align: middle;
    display: inline-block; }

.ctg {
  margin-top: 8%; }

@media screen and (max-width: 376px) {
  .rightarrow {
    margin-top: -52px !important; }
  .category-head {
    font-size: 18px;
    margin-top: 50.5%; }
  .cardimage {
    display: flex;
    flex-wrap: wrap; }
  .category-head-a {
    margin-top: 230px; }
  .category-head-b h1 {
    font-size: 26px  !important;
    margin-top: 230px; }
  .category .row {
    margin-top: 316px; } }

.watchstory {
  position: relative;
  width: 100%;
  height: 800px;
  background-position: 50% 94%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(https://assets.website-files.com/5badda2935e11303a89a461e/5baf3d57ace69c149bb331b8_tim-gouw-165547-unsplash.jpg); }

.story {
  border: 1px solid none;
  width: 100%;
  height: 470px;
  margin-top: 120px; }

.storyabout {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  padding: 120px 24px;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .storyabout .tittle {
    margin-bottom: 16px;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600; }
  .storyabout h1 {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    color: #fff; }
  .storyabout p {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 24px;
    color: #fff; }
  .storyabout a svg {
    display: flex;
    width: 86px;
    height: 86px;
    padding: 20px;
    align-items: center;
    border-radius: 50%;
    background-color: #a5c926;
    color: #fff; }

@media screen and (max-width: 376px) {
  .watchstory {
    background-position: 91% 94%; } }

@media screen and (max-width: 376px) {
  .about {
    margin-top: -117px; } }

.aboutintro {
  display: flex;
  max-width: 600px;
  padding-right: 15px;
  padding-left: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  margin-left: 30%;
  margin-top: 6%; }
  .aboutintro .tittle {
    margin-bottom: 16px;
    color: #a5c926;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600; }
    @media screen and (max-width: 376px) {
      .aboutintro .tittle {
        font-size: 20px;
        margin-left: -60px; } }
  .aboutintro h2 {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400; }
    @media screen and (max-width: 376px) {
      .aboutintro h2 {
        margin-left: -62px;
        width: 202%; } }

.row .info {
  margin-top: 5%; }
  @media screen and (max-width: 376px) {
    .row .info {
      width: 100%; } }
  .row .info h2 {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400; }
  .row .info .aboutcolor {
    width: 70px;
    height: 2px;
    margin-top: 8px;
    margin-bottom: 23px;
    background-color: #a5c926; }
  .row .info p {
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 24px;
    color: grey; }
  .row .info a {
    height: 48px;
    padding: 12px 28px;
    justify-content: center;
    border-radius: 24px;
    background-color: #a5c926;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-align: center; }
    @media screen and (max-width: 376px) {
      .row .info a {
        margin-left: 84px; } }

.about-img img {
  border: 0px;
  margin-top: -51%;
  margin-left: 104%;
  border-radius: 16px; }
  @media screen and (max-width: 376px) {
    .about-img img {
      margin-top: 10%;
      margin-left: 0px;
      width: 200% !important;
      margin-top: 64px; } }

.sbs {
  display: flex;
  padding: 50px 24px;
  align-items: center;
  border: 1px solid white;
  margin-top: 10%;
  border-radius: 20px;
  background-color: white; }
  @media screen and (max-width: 376px) {
    .sbs {
      margin-top: -62px; } }

.sbscrb-icon svg {
  display: flex;
  width: 34px;
  height: 34px;
  margin-right: 24px;
  padding: 18px 16px 16px;
  align-items: center;
  border-radius: 50%;
  background-color: #a5c926;
  color: white; }

.sbscrb-info h4 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400; }
  .sbscrb-info h4 span {
    color: #a5c926; }

@media screen and (max-width: 376px) {
  .inpt {
    flex-wrap: wrap; } }

.inpt input {
  margin-right: 26px;
  margin-bottom: 0px;
  width: 100%;
  height: 36px;
  padding-right: 58px;
  padding-left: 28px;
  border: 1px solid;
  border-radius: 24px;
  background-color: #e5e5e5; }
  .inpt input:hover {
    background-color: white; }

.inpt button {
  border-color: white;
  height: 48px;
  padding: 12px 28px;
  justify-content: center;
  border-radius: 24px;
  background-color: #a5c926;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-align: center; }

.sbscrb-icon svg {
  width: 84px;
  height: 84px;
  margin-top: -18px; }

@media screen and (max-width: 376px) {
  .inpt input {
    height: 50px;
    padding-right: 11px; }
  button {
    margin-top: 13px; }
  .sbscrb-icon svg {
    width: 84px;
    height: 84px; }
  .sbs {
    margin-left: 50px; }
  .subscribe {
    width: 294px; }
  .navigation {
    margin-top: 30px;
    margin-left: -1px; }
    .navigation ul {
      margin-left: -40px; } }

.insintro .title {
  margin-bottom: 16px;
  color: #a5c926;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600; }
  @media screen and (max-width: 376px) {
    .insintro .title {
      margin-left: -57px; } }

.insintro h2 {
  margin-top: 0px;
  font-family: 'Varela Round', sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400; }
  @media screen and (max-width: 376px) {
    .insintro h2 {
      margin-left: -57px; } }

@media screen and (max-width: 376px) {
  .insta {
    width: 62%;
    margin-left: 46px; } }

.instimage img {
  margin-top: 50px;
  width: 160px;
  height: 160px;
  border-radius: 12px; }
  .instimage img:hover {
    transform: scale(1.05); }
  @media screen and (max-width: 376px) {
    .instimage img {
      width: 80px;
      height: 80px; } }

#btn {
  margin-top: 50px;
  height: 44px;
  padding: 12px 28px;
  justify-content: center;
  border-radius: 24px;
  background-color: #a5c926;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-align: center; }
  @media screen and (max-width: 376px) {
    #btn {
      padding: 9px 28px;
      margin-left: -50px; } }

.instagram {
  margin-top: 10%; }

.footer {
  display: flex;
  align-items: center;
  height: 200px;
  background-color: #a5c926;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 50px; }

.foter-left a {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400; }
  @media screen and (max-width: 376px) {
    .foter-left a {
      margin-left: 133px; } }

.foot-nav a {
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  padding: 4px;
  color: #fff;
  text-decoration: none; }
  @media screen and (max-width: 376px) {
    .foot-nav a {
      margin-left: -7px; } }

.foot-social svg {
  padding-right: 12px;
  padding-left: 12px;
  justify-content: flex-end;
  align-items: center;
  color: white;
  width: 38px; }

.foter-line {
  width: 95%;
  height: 2px;
  margin-top: 32px;
  background-color: #e5e5e5; }

@media screen and (width: 375px) {
  .foot-social ul li {
    margin-left: -137px; } }

.header-nav {
  margin-left: 3%;
  width: 90%;
  height: 48px;
  margin-top: 48px;
  margin-bottom: -8px;
  padding: 8px 28px;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #e5e5e5;
  border-radius: 24px;
  color: #999;
  font-size: 12px;
  line-height: 16px; }
  .header-nav ul {
    margin-right: 10%; }
    .header-nav ul li {
      padding: 2px; }

.toys {
  margin-top: 100px; }
  .toys .toysul li a {
    height: 32px;
    padding: 6px 18px;
    border-radius: 16px;
    color: #111;
    font-size: 15px;
    line-height: 20px; }
    .toys .toysul li a:hover {
      text-decoration: underline; }

.toyshead h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400; }

.catalogline {
  width: 100%; }

@media screen and (max-width: 376px) {
  .catalogline {
    display: none; }
  .toyshead h2 {
    display: none; }
  .toy {
    margin-top: -239px; }
    .toy ul {
      display: flex;
      flex-direction: row; }
  .card {
    width: 87%; }
  .sbs {
    margin-top: 35px; }
  .sbscrb-info {
    flex-direction: column; } }

.delivery {
  display: flex;
  overflow: hidden;
  width: 80%;
  margin-top: 56px;
  margin-left: 60px;
  padding: 100px;
  align-items: flex-start;
  border-radius: 16px;
  background-color: #fff;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 11%;
  margin-right: 12%; }

.infoleft {
  border: 1px solid none;
  width: 500px;
  padding: 5px; }
  .infoleft h2 {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 300; }
  .infoleft p {
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 24px; }

.inforight {
  display: flex;
  width: 37%;
  height: 34%;
  padding: 60px;
  flex-direction: column;
  flex: 0 auto;
  border: 2px solid #e5e5e5;
  border-radius: 16px;
  font-size: 12px;
  text-align: center;
  margin-left: 60px; }
  .inforight .h4 {
    font-family: 'Varela Round', sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 500; }
  .inforight a {
    height: 40px;
    padding: 8px 24px;
    border-radius: 20px;
    font-size: 13px;
    line-height: 24px;
    background-color: #a5c926;
    color: #fff;
    font-weight: 600;
    text-align: center; }

.deliverylist ul {
  list-style-type: disc;
  display: inline-block; }

@media screen and (max-width: 376px) {
  .deliveryinfo {
    flex-direction: column; }
  .inforight {
    margin-left: -10px;
    width: 100%; }
  .infoleft {
    margin-left: -57px;
    width: 100%;
    margin-top: -68px; }
  .delivery {
    padding: 71px; } }

.about {
  display: flex;
  padding: 50px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8; }
  .about h4 {
    margin-bottom: 16px;
    color: #a5c926;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600; }
  .about .about-info {
    border: 1px solid none;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about .about-info h2 {
      margin-top: 0px;
      margin-bottom: 20px;
      font-family: 'Varela Round', sans-serif;
      font-size: 40px;
      line-height: 48px;
      font-weight: 400; }
    .about .about-info p {
      text-align: center;
      margin-bottom: 28px;
      font-size: 14px;
      line-height: 24px;
      color: #999; }
    .about .about-info .button a {
      color: #111;
      font-size: 13px;
      line-height: 20px;
      font-weight: 600;
      text-decoration: none;
      display: inline-block;
      padding-top: 2px;
      padding-bottom: 2px;
      border-bottom: 2px solid #ddd; }
      .about .about-info .button a:hover {
        border-bottom-color: #a5c926; }

.aboutimage {
  margin-top: 44px;
  border-radius: 16px;
  margin-left: 15%; }
  .aboutimage img {
    width: 0%;
    margin-top: 64px;
    border-radius: 16px;
    margin: 0%; }

.info-2 {
  margin-left: 55%; }

.str {
  margin-top: 5%; }

@media screen and (max-width: 376px) {
  .about {
    margin-top: 2px; }
  .about-info {
    width: 100% !important; }
    .about-info h2 {
      font-size: 21px !important;
      margin-left: -6px; }
    .about-info p {
      margin-left: -33px; }
  .info {
    margin-top: 57px;
    margin-left: 0px !important; } }

.contact {
  width: 1000px;
  height: 1211px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 16%;
  background-color: white;
  border-radius: 16px;
  align-items: center; }

.contactright span {
  font-size: 12px; }

.contactright h3 {
  font-family: 'Varela Round', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 0px;
  margin-top: 25px; }

.numberadress {
  margin-top: 20px; }

.foot-social {
  background-color: #a5c926;
  width: 40%; }

.border {
  border: 1px solid none;
  width: 1217px;
  margin-left: -82px;
  background-color: white;
  border-radius: 16px; }

.details {
  padding-right: 7%;
  padding-left: 17%;
  padding-top: 6%; }
  .details .detailsleft {
    width: 50%;
    padding: 65px;
    margin-left: 45px; }
    .details .detailsleft h1 {
      margin-top: 0px;
      margin-bottom: 20px;
      font-family: 'Varela Round', sans-serif;
      font-size: 40px;
      line-height: 48px;
      font-weight: 400; }
    .details .detailsleft p {
      color: #999;
      margin-bottom: 28px;
      font-size: 14px;
      line-height: 24px; }
    .details .detailsleft span {
      margin-bottom: 32px;
      font-family: 'Varela Round', sans-serif;
      color: #a5c926;
      font-size: 24px;
      line-height: 32px;
      font-weight: 400; }
    .details .detailsleft .number {
      margin-top: 25px; }
    .details .detailsleft input {
      width: 60px;
      height: 30px;
      margin-right: 8px;
      margin-bottom: 12px;
      border-radius: 16px; }
    .details .detailsleft button {
      margin-right: 8px;
      margin-bottom: 12px;
      height: 38px;
      padding: 3px 15px;
      justify-content: center;
      border-radius: 24px;
      background-color: #a5c926;
      color: #fff;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      text-align: center; }

.detailsright img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  margin-top: -42px; }

.producdetails {
  padding-top: 100px; }

.colordetail {
  width: 94%;
  margin-left: 52px; }
  .colordetail .detailscolor {
    width: 115px; }

.detailinfo {
  margin-left: 115px;
  margin-top: 71px; }

.detailsright {
  width: 270px;
  height: 185px;
  margin-top: 24px;
  margin-right: 15px;
  margin-left: 60px;
  padding: 16px 32px;
  border: 2px solid #e5e5e5;
  border-radius: 16px; }
  .detailsright .clr {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    width: 148px;
    margin-left: 38px; }
